.button {
  font-size: var(--button-font-size);
  width: var(--button-width);
  margin: 1rem 1rem;
  padding: 1rem;
  box-shadow: inset 0px 0px 2.5rem -0.4rem #bbdaf7;
  background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
  background-color: #79bbff;
  border-radius: 3rem;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 2rem;
  font-weight: bold;
  padding: 0.6rem 1.3rem;
  padding-right: 1.3rem;
  text-decoration: none;
  text-shadow: 0 0.2rem 0 #528ecc;

  &:hover:enabled {
    filter: brightness(115%);
  }

  &:active {
    position: relative;
    top: 1px;
  }

  &:disabled {
    filter: brightness(50%);
  }
}

.title-edit-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: fit-content;
  margin: 1rem;
  margin-bottom: 2rem;
}

.edit-button {
  @extend .button;
  width: 5rem;
  font-size: var(--edit-button-font-size);
  margin: 0 1rem;
}

.add-button {
  @extend .edit-button;
  height: 3rem;
  margin: 0 1rem;
  font-size: var(--add-button-font-size);
}

.save-button {
  @extend .button;
  width: fit-content;
  font-size: var(--button-font-size);
}
