.container {
  display: flex;
  flex-direction: column;
  justify-content: var(--title-flex-position);
  align-items: center;
  background-color: #30434f;
  max-width: 100%;
  height: var(--title-height);
}

.title {
  margin: 2rem 0.25rem;
  text-shadow: 5px 5px 0px #052939, 10px 10px 0px #46b59b, 15px 15px 0px #017e7f,
    20px 20px 0px #052939;
}
