h2 {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: var(--instruction-font-size);
  text-align: center;
}

.screen1-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
  height: 70vh;
  margin: 1rem;
}
