h1 {
  margin: 0;
  font-family: 'Pacifico', cursive;
  font-size: var(--title-font-size);
  text-align: center;
}

h2 {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: var(--instruction-font-size);
}

.screen1-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #30434f;
  max-width: 100%;
  height: 70vh;
}
