body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  color: #f0f0f0;
  background-color: #30434f;
  text-align: center;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  margin: 0;
  font-family: 'Pacifico', cursive;
  font-size: var(--title-font-size);
}

h2 {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: var(--instruction-font-size);
}

/* Desktop Screens CSS Variables */
:root {
  --title-font-size: 5rem;
  --title-flex-position: center;
  --instruction-font-size: 3rem;
  --instruction-flex-position: center;
  --input-width: 75vw;
}

/* Tablet Screens CSS Variables */

@media (max-width: 900px) {
  :root {
    --title-font-size: 3.2rem;
    --title-flex-position: center;
    --instruction-font-size: 2.5rem;
    --instruction-flex-position: center;
    --input-width: 75vw;
  }
}

/* Mobile Screens CSS Variables */

@media (max-width: 600px) {
  :root {
    --title-font-size: 2.5rem;
    --title-flex-position: center;
    --instruction-font-size: 2rem;
    --instruction-flex-position: center;
    --input-width: 75vw;
  }
}
