/* Desktop Screens CSS Variables */
:root {
  /* Font Sizes */
  --add-button-font-size: 1.2rem;
  --edit-button-font-size: 1rem;
  --button-font-size: 1.5rem;
  --input-font-size: 1.8rem;
  --instruction-font-size: 2rem;
  --title-font-size: 5rem;

  /* Element Sizes */
  --button-arrow-width: 5rem;
  --button-width: 20rem;
  --ingredient-input-height: 5rem;
  --ingredient-input-width: 50vw;
  --input-width: 50vw;
  --screen-height: 60vh;
  --title-height: 40vh;

  /* Margins, Paddings, etc. */
  --margin-top-container: 2rem;
}

/* Tablet Screens CSS Variables */

@media (max-width: 1024px) {
  :root {
    /* Font Sizes */
    --button-font-size: 1.5rem;
    --input-font-size: 1.2rem;
    --instruction-font-size: 2rem;
    --title-font-size: 3.2rem;

    /* Element Sizes */
    --button-arrow-width: 4rem;
    --button-width: 20rem;
    --ingredient-input-width: 50vw;
    --ingredient-input-height: 3rem;
    --input-width: 50vw;
    --screen-height: 50vh;
    --title-height: 40vh;
  }
}

/* Mobile Screens CSS Variables */

@media (max-width: 768px) {
  :root {
    /* Font Sizes */
    --edit-button-font-size: 1rem;
    --button-font-size: 1rem;
    --input-font-size: 1rem;
    --instruction-font-size: 1.5rem;
    --title-font-size: 2.5rem;

    /* Element Sizes */
    --button-width: 20rem;
    --button-arrow-width: 3rem;
    --ingredient-input-width: 50vw;
    --ingredient-input-height: 3rem;
    --input-width: fit-content;
    --screen-height: 50vh;
    --title-height: 15vh;

    /* Margins, Paddings, etc. */
    --padding-top-container: 1rem;
  }
}

/* Global CSS Properties */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  color: #f0f0f0;
  background-color: #30434f;
  text-align: center;
  height: 100vh;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: var(--title-font-size);
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: var(--instruction-font-size);
  width: 100%;
  text-align: left;
  overflow: hidden;
}

p {
  font-size: 1.2rem;
}

a {
  color: #ffffff;
  text-decoration: none;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--ingredient-input-height);
  width: var(--input-width);
  margin: 1rem 0rem;
}

.screen1-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #30434f;
  max-width: 100%;
  height: var(--screen-height);
  padding-top: var(--padding-top-container);

  .instructions {
    text-align: center;
  }
}

.ingredients-list {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
}

.ingredient-preview {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  border-style: dotted;
  border-radius: 50px;
  padding: 2rem;
  min-width: 15rem;
}
