/* Desktop Screens CSS Variables */
:root {
  /* Font Sizes */
  --add-button-font-size: 1.2rem;
  --edit-button-font-size: 1rem;
  --button-font-size: 1.5rem;
  --input-font-size: 2.4rem;
  --instruction-font-size: 2rem;
  --title-font-size: 5rem;
  /* Positioning */
  --instruction-flex-position: flex-start;
  --title-flex-position: flex-end;
  /* Element Sizes */
  --button-arrow-width: 5rem;
  --button-width: 20rem;
  --ingredient-input-height: 5rem;
  --ingredient-input-width: 50vw;
  --input-width: 50vw;
  --screen-height: 60vh;
  --title-height: 40vh;
  /* Margins, Paddings, etc. */
  --margin-top-container: 2rem;
}

/* Tablet Screens CSS Variables */
@media (max-width: 900px) {
  :root {
    /* Font Sizes */
    --button-font-size: 1.5rem;
    --input-font-size: 1.2rem;
    --instruction-font-size: 2rem;
    --title-font-size: 3.2rem;
    /* Positioning */
    --instruction-flex-position: flex-start;
    --title-flex-position: flex-end;
    /* Element Sizes */
    --button-arrow-width: 4rem;
    --button-width: 20rem;
    --ingredient-input-width: 50vw;
    --ingredient-input-height: 3rem;
    --input-width: 50vw;
    --screen-height: 50vh;
    --title-height: 40vh;
  }
}

/* Mobile Screens CSS Variables */
@media (max-width: 600px) {
  :root {
    /* Font Sizes */
    --edit-button-font-size: 1rem;
    --button-font-size: 1rem;
    --input-font-size: 1rem;
    --instruction-font-size: 1.5rem;
    --title-font-size: 2.5rem;
    /* Positioning */
    --instruction-flex-position: flex-start;
    --title-flex-position: flex-start;
    /* Element Sizes */
    --button-width: 20rem;
    --button-arrow-width: 3rem;
    --ingredient-input-width: 50vw;
    --ingredient-input-height: 3rem;
    --input-width: fit-content;
    --screen-height: 50vh;
    --title-height: 20vh;
    /* Margins, Paddings, etc. */
    --padding-top-container: 1rem;
  }
}

/* Global CSS Properties */
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  color: #f0f0f0;
  background-color: #30434f;
  text-align: center;
  height: 100vh;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: var(--title-font-size);
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: var(--instruction-font-size);
}

p {
  font-size: 1.2rem;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.screen1-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: var(--instruction-flex-position);
      -ms-flex-pack: var(--instruction-flex-position);
          justify-content: var(--instruction-flex-position);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #30434f;
  max-width: 100%;
  height: var(--screen-height);
  padding-top: var(--padding-top-container);
}

.ingredients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=style.css.map */