body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  color: #f0f0f0;
  background-color: #30434f;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Desktop Screens CSS Variables */
:root {
  --title-font-size: 5rem;
  --title-flex-position: flex-end;
  --instruction-font-size: 3rem;
  --input-width: 75vw;
}

/* Tablet Screens CSS Variables */

@media (max-width: 900px) {
  :root {
    --title-font-size: 3.2rem;
    --title-flex-position: flex-start;
    --instruction-font-size: 2.5rem;
    --input-width: 75vw;
  }
}

/* Mobile Screens CSS Variables */

@media (max-width: 600px) {
  :root {
    --title-font-size: 2rem;
    --title-flex-position: center;
    --instruction-font-size: 2rem;
    --input-width: 75vw;
  }
}
